:root {
  --hover-focus: #2196f3;
  --header-color-logo: #2196f3;
  --header-color-word: black;
  --header-color-contact: #757575;
  --header-color-nav: #212121;
  --hero-color-bg: #2f303a;
  --hero-color-bgh: #2196f3;
  --hero-color-title: #ffffff;
  --hero-color-btn: #ffffff;
  --about-color-title: #212121;
  --about-color-text: #757575;
  --work-color-title: #212121;
  --team-color-bg: #f5f4fa;
  --team-color-text: #757575;
  --team-color-title: #212121;
  --team-color-name: #212121;
  --footer-color-bg: #2f303a;
  --fooret-color-words: #ffffff;
  --fooret-color-logo: #2196f3;
  --fooret-color-text: #ffffff;
  --footer-color-link: rgba(255, 255, 255, 0.6);
}

body {
  font-family: "Roboto", Raleway, sans-serif;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.img {
  display: inline-block;
}

/*.....Header...........*/

.header {
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 94px;
}

.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--header-color-logo);
}

.header-logo-color {
  color: var(--header-color-word);
}

.header-list {
  display: flex;
  padding: 0px;
  margin: 0px 0px;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-color-nav);
}

.header-link:hover,
.header-link:focus {
  color: var(--hover-focus);
}

.header-conect {
  margin-left: auto;
}

.header-soc-icon {
  margin-right: 10px;
  fill: #757575;
}

.header-mailto:hover .header-soc-icon {
  fill: currentColor;
}

.header-mailto:focus .header-soc-icon {
  fill: currentColor;
}

.header-tel:hover .header-soc-icon {
  fill: currentColor;
}

.header-tel:focus .header-soc-icon {
  fill: currentColor;
}

.header-tel,
.header-mailto {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-color-contact);
}

.header-mailto {
  margin-right: 30px;
}

.header-tel:hover,
.header-tel:focus {
  color: var(--hover-focus);
}

.header-mailto:hover,
.header-mailto:focus {
  color: var(--hover-focus);
}

/**************Hero**********/

.hero {
  background: var(--hero-color-bg);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: rgba(47, 48, 58, 0.4);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/meeting.jpg);
}

.hero-title {
  width: 696px;
  height: 120px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-color-title);
  margin: 0px 0px 30px 235px;
}

.hero-btn {
  min-width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--hero-color-btn);
  background-color: var(--hero-color-bgh);
  border-radius: 4px;
  border-width: 0;
}

/**********ABout******/

.about {
  padding-top: 94px;
  padding-bottom: 94px;
}

.about-list {
  display: flex;
  padding: 0;
  margin: 0px 0px;
}

.about-item:not(:last-child) {
  margin-right: 30px;
}

.about-soc-link {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.about-soc-icon {
  fill: #212121;
}

.about-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--about-color-title);
  margin: 0px 0px 10px 0px;
}

.about-bottom-text {
  width: 270px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--about-color-text);
  margin: 0;
}

/*******WORK******/

.work {
  padding-bottom: 94px;
}

.work-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--work-color-title);
  margin-top: 0px;
  margin-bottom: 50px;
}

.work-list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0px 0px;
}

.work-item {
  width: 370px;
  height: 294px;
}

.work-item:not(:last-child) {
  margin-right: 30px;
}

/******Team*********/

.team {
  background: var(--team-color-bg);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--team-color-title);
  margin-top: 0px;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0px 0px;
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.t-i {
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-title-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--team-color-name);
  margin-top: 0px;
  margin-bottom: 10px;
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--team-color-text);
  margin: 0px 0px;
  margin-bottom: 16px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  padding: 0;
}

.team-soc-item:not(:last-child):not(:last-child) {
  margin-right: 10px;
}

.team-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-soc-icon {
  fill: rgba(175, 177, 184, 1);
}

.team-soc-link:hover {
  background-color: #2196f3;
}

.team-soc-link:focus {
  background-color: #2196f3;
}

.team-soc-link:hover .team-soc-icon {
  fill: #ffffff;
}

.team-soc-link:focus .team-soc-icon {
  fill: #ffffff;
}

/*******clients*******/

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 50px;
  color: #212121;
}

.clients-list {
  margin: 0;
  padding: 0;
  display: flex;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-soc-link {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.clients-soc-icon {
  fill: #afb1b8;
}

.clients-soc-link:hover {
  border: 1px solid #2196f3;
}

.clients-soc-link:focus {
  border: 1px solid #2196f3;
}

.clients-soc-link:hover .clients-soc-icon {
  fill: #2196f3;
}

.clients-soc-link:focus .clients-soc-icon {
  fill: #2196f3;
}

/******footer******/

.footer {
  background-color: var(--footer-color-bg);
  padding-top: 60px;
  padding-bottom: 60px;
  margin-right: 0px;
}

.footer .container {
  display: flex;
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--fooret-color-logo);
  margin-bottom: 20px;
}
.footer-logo-color {
  color: var(--fooret-color-words);
}

.address {
  margin-right: 70px;
}

.address-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--fooret-color-text);
  margin-bottom: 9px;
}

.address-mailto {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-color-link);
  display: block;
  margin-bottom: 9px;
}

.address-mailto:hover,
.address-mailto:focus {
  color: var(--hover-focus);
}

.address-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-color-link);
}

.address-tel:hover,
.address-tel:focus {
  color: var(--hover-focus);
}

.join {
  max-width: 206px;
  height: 80px;
  margin: 0;
  padding: 0;
}

.join-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.join-list {
  display: flex;
  justify-content: center;
  padding: 0;
}

.join-item:not(:last-child) {
  margin-right: 10px;
}

.join-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
}

.join-soc-icon {
  fill: var(--fooret-color-words);
}

.join-soc-link:hover {
  background-color: #2196f3;
}

.join-soc-link:focus {
  background-color: #2196f3;
}

.join-soc-link:hover .join-soc-icon {
  fill: var(--fooret-color-words);
}

/******PORTFOLIO*******/

.offer-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.offer {
  padding-top: 94px;
  padding-bottom: 94px;
}

.offer-list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 50px;
  margin-top: 0;
}

.offer-item:not(:last-child) {
  margin-right: 8px;
}

.offer-btn {
  height: 38px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--about-color-title);
  border-radius: 4px;
  border-width: 0;
  padding-right: 22px;
  padding-left: 22px;
}

.offer-btn:hover,
.offer-btn:focus {
  color: var(--hero-color-btn);
  background-color: var(--hero-color-bgh);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.offers-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0px 0px;
}

.offers-item {
  display: grid;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: #ffffff;
}

.offers-item:hover,
.offers-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.offers-item:nth-child(3n + 3) {
  margin-right: 0;
}

.offers-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.o-i {
  background: #ffffff;
  border: 1px solid #eeeeee;
  padding: 20px 24px 20px 24px;
}

.offers-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-top: 0px;
  margin-bottom: 4px;
}

.offers-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 0px;
  margin-bottom: 0px;
}

/******PORTFOLIO*******/
